@model SharedModels.DTO.Developer.Developer

@{
    ViewData["Title"] = $"Details about {Model.Name}";
}

<h1>Details</h1>

<div>
    <h4 class="text-center">Developer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Founded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Founded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
